// TOKEN COLORS

// Backgrounds
$color-background: #EAE7DC;
$color-background2: #D8C3A5;

// Texts
$color-text: #8E8D8A;
$color-text2: #E98074;
$color-title: #E85A4F;

// Borders
$color-border: #E98074;
$color-separator: #EAE7DC;

$color-white: #FFFFFF;
$color-black: #000000;
$color-warning: #fddb3a;
$color-error: #fa4d56;
$color-success: #6fdc8c;
