@mixin gridContainer {
  padding: 24px 48px;
  display: grid;
}

@mixin displayFlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin displayFlexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
