@import 'src/styles/variables.scss';

.heatmap-container {
  display: flex;
  padding: 12px;
  background-color: $color-background2;
  border-radius: $mediumBorderRadius;

  &__aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 12px;
  }

  &--list {
    &--item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  @media (max-width: $tabletMax) {
    grid-area: 2 / 1 / 3 / 3;
    
    &--list {
      &--item {
        flex-wrap: wrap;
      }
    }
  }

  @media (max-width: $mobileMax) {
    flex-direction: column;

    &--list {
      &--item {
      }
    }
  }
}