@import 'src/styles/colors.scss';

.table-container {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
	vertical-align: middle;

  &--caption {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    color: $color-title;
    margin-bottom: 16px;
  }
}

.table-header,
.table-description {
  border-bottom: 1px solid $color-black;
  padding: 8px;
}

.table-header {
  background-color: $color-text3;
  color: $color-white;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2%;
  font-weight: bold;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}

  /* Hide table headers */
  .table-header {
    display: none;
  }

  .table-row {
    border: 2px solid #ccc;
    margin-bottom: 8px;
  }

  .table-description {
		border: none;
		border-bottom: 1px solid #eee; 
  }
}
