@import 'src/styles/colors.scss';

.table-container {
  border-collapse: collapse;
  width: 100%;
}

.table-header,
.table-description {
  border-bottom: 1px solid $color-black;
  padding: 8px;
}

.table-header {
  font-weight: bold;
}
