@import 'src/styles/variables.scss';
@import 'src/styles/colors.scss';

.search {
  &__report {
    background-color: $color-text-inverted;
    padding: 12px 16px;
    border-radius: $mediumBorderRadius;
    font-weight: bold;

    &:hover {
      background-color: $color-text-inverted-hover;
      color: $color-text-inverted;
    }
  }
}

.inputBox {
  height: 48px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: $largeBorderRadius;
  padding: 12px 16px;
  background-color: $color-background-inverted;

  &:focus-within {
    outline: 2px solid $color-text-inverted-hover;
  }

  svg {
    color: $color-text-inverted;
  }
}

.input {
  background: transparent;
  outline: none;
  border: none;
  color: $color-text-inverted;
  font-size: 14px;
  display: flex;
  flex: 1 1 0%;
  
  &::placeholder {
    color: $color-text;
  }
}